
        
body {background-color: #008B8B;}
#aboutme {background-image:url(mybackground.jpg);}
#paragraph {color:#F8F8FF;}
#paragraph {background-color:#4682B4;}
#KennyD{
        width: 100px;
        float: left;}
#KennyD2 {
        width: 100px;
        float: right;}
#Braids{
        width: 100px;
        float: right;}
#Basketball {
        width: 100px;
        float: left;}
