
        
body {background-color: #008B8B;}
#aboutme {background-image:url(mybackground.jpg);}
#paragraph {color:#F8F8FF;}
#paragraph {background-color:#4682B4;
            marigin-left:       10px;}
#KennyD{
        width:       100px;
        float:        left;
        margin-right:  6px;
        margin-bottom: 6px;}
#KennyD2 {
        width:       100px;
        float:       right;
        margin-left:   6px;}
#Braids{
        width:       100px;
        float:       right;
        margin-left:   6px;}
#Basketball {
        width:       100px;
        height:      150px;
        float:        left;
        margin-right:  6px;
        margin-bottom: 6px;}
